<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">D:\\logs</Property>
    </Properties>
 
    <Appenders>
        <RollingFile name="fileLogger" fileName="${basePath}/app-info2.log" filePattern="${basePath}/app-info2-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
        
        <!-- log spring -->
        <AsynchFile name="asynchFile" type="asynch" blocking="true" bufferSize="128">
        	<PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </AsynchFile>
        
    </Appenders>
    <Loggers>
	  	<!-- <Logger name="com.iars.generate.RunGenerateReport" level="debug" additivity="true">
            <appender-ref ref="fileLogger" level="debug" />
        </Logger>
        <Root level="debug" additivity="false">
            <appender-ref ref="console" />
        </Root> -->
        
        <Root level="all">
            <appender-ref ref="fileLogger" />
            <appender-ref ref="console" />
            <appender-ref ref="asynchFile" />
        </Root>
	</Loggers>
<!-- 
    <Loggers>
        <Logger name="com.howtodoinjava" level="debug" additivity="true">
            <appender-ref ref="fileLogger" level="debug" />
        </Logger>
        <Root level="debug" additivity="false">
            <appender-ref ref="console" />
        </Root>
    </Loggers> -->
</Configuration>